@mixin colors {
  @each $name in $colorNames {
    &--#{$name} {
      border-color: var(--#{$name});
    }
  }
}

@mixin border-styles {
  @each $style in (dotted, dashed, solid, double, groove, ridge, inset, outset) {
    &--#{$style} {
      border-style: $style;
    }
  }
}

.g {
  &-divider {
    @include colors;
    @include border-styles;

    border-color: $border-color;
    border-width: 0;
    display: flex;
    flex: 1;

    &--horizontal {
      @include absolute-height(1px);

      border-top-width: 1px;
    }

    &--vertical {
      @include absolute-width(1px);

      border-left-width: 1px;
    }
  }
}