@mixin colors() {
  @each $name, $color in $colors {
    &--#{$name} {
      color: $color;
    }
  }
}

.g {
  &-icon {
    @include colors;

    font-family: 'MaterialIcons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    font-display: block;
    font-feature-settings: 'liga';
    color: currentColor;
    text-rendering: optimizeLegibility;
    text-transform: none;
    line-height: 1;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }
}
