.g {
  &-dropdown {
    color: $black-84;
    display: inline-block;
    height: inherit; // Позволяет наследовать высоту от родительских элементов

    &--disabled {
      color: $black-36;
      cursor: default;
      user-select: none;
    }

    &--shadow {
      &>.g-dropdown__content {
        @include g-elevation(4);
      }
    }

    &--outline {
      &>.g-dropdown__content {
        border: 1px solid var(--grey);
      }
    }

    &--rounded {
      &>.g-dropdown__content {
        border-radius: 16px;
      }
    }

    &__activator {
      display: flex;
      align-items: center;
      height: inherit; // Позволяет наследовать высоту оборачиваемых элементов
      width: 100%;
    }

    &__content {
      @include scrollbar;

      overflow-x: hidden;
      overflow-y: auto;
      z-index: 10;
    }
  }
}