$name: 'g-text-field';

.g {
  &-text-field {
    @include input-base;
    @include input-size-text($name);
    @include input-style($name);

    &__label {
      cursor: text;
    }

    &__holder {
      grid-template-columns: 1fr;
    }

    &__group {
      flex-wrap: nowrap;
      align-items: flex-start;
      cursor: text;
    }

    &__suffix {
      font-size: 16px;
      font-weight: 400;
      color: $black-54;
      user-select: none;
    }

    &__suffix {
      padding-left: 4px;
    }

    & input {

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        margin: 0;
        -webkit-appearance: none;
      }

      &[type='number'] {
        -moz-appearance: textfield;
      }
    }

    &:hover:not(#{$name}--disabled):not(#{$name}--error) {
      & #{$name}__border {
        border-bottom-color: $black-84;
      }
    }
  }
}