.g {
  &-table {
    border-collapse: collapse;
    position: relative;
    width: 100%;

    &__header {
      border-bottom: 1px solid $black-12;
      user-select: none;

      &-row {
        height: 48px;
      }

      &-cell {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 16px;
        padding-right: 16px;

        &--sortable {
          cursor: pointer;
          position: relative;

          &:hover {
            background-color: $black-06;
          }

          &:active {
            background-color: $black-12;
          }

          &::before {
            @include absolute-height(16px);
            @include absolute-width(16px);

            margin-top: -8px;
            content: '\e5c5';
            font-family: 'Material Icons';
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            color: $black-36;
            opacity: 0;
            transition-property: opacity, transform;
            transition-duration: $transition-duration;
            transition-timing-function: $transition-timing-function;
          }

          &-desc {
            &::before {
              transform: rotate(180deg);
            }
          }

          &-active {
            color: $black-84;

            &::before {
              color: $black-84;
              opacity: 1;
            }
          }

          &:hover {
            &::before {
              opacity: 1;
            }
          }
        }

        &-title {
          @include default-text-style(12px, 700);

          color: $black-54;
          white-space: nowrap;
        }

        &--left {
          text-align: left;

          &.g-table__header-cell--sortable {
            &::before {
              left: calc(100% - 32px);
            }
          }
        }

        &--right {
          text-align: right;
        }

        &--center {
          text-align: center;
        }

        &--right,
        &--center {
          &.g-table__header-cell--sortable {
            &::before {
              right: calc(100% - 32px);
            }
          }
        }
      }
    }

    &__body {
      &>tr {
        height: 48px;

        &:hover {
          background-color: $black-06;
        }

        &+tr {
          border-top: 1px solid $black-12;
        }

        &>td {
          padding-left: 16px;
          padding-right: 16px;

          @include default-text-style(13px);

          color: $black-84;
        }
      }
    }

    &__footer {
      border-top: 1px solid $black-12;
      user-select: none;

      &-row {
        height: 48px;
      }
    }
  }
}