$size: 48px;
$size-dense: 40px;

@mixin colors {
  @each $name in $colorNames {
    &--#{$name} {
      color: var(--#{$name});
    }
  }
}

.g {
  &-list {
    display: flex;
    flex-direction: column;

    &--rounded {
      border-radius: 16px;
      overflow: hidden;
    }

    &--wrap {
      &.g-list-item__label {
        text-overflow: clip;
        white-space: normal;
        overflow: auto;
      }
    }

    &-item {
      @include colors;

      color: currentColor;
      text-decoration: none;
      user-select: none;
      position: relative;
      display: flex;
      flex-direction: column;

      &__content {
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        align-items: center;
        flex: 1;
        min-height: $size;
      }

      &__holder {
        @include absolute-height($size);
        @include absolute-width($size);

        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__label {
        @include default-text-style(13px);

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        align-items: center;
        align-self: stretch;
        flex: 1;
      }

      &--hovered,
      &:hover {
        &:not(.g-list-item--disabled) {
          background-color: $black-06;
        }
      }

      &:active {
        &:not(.g-list-item--disabled):not(.g-list-item--group) {
          background-color: $black-12;
        }
      }

      &--link {
        cursor: pointer;
      }

      &--active {
        &>.g-list-item__label {
          color: var(--primary);
        }

        &>.g-list-item__holder {
          &>.g-list-item__icon {
            color: var(--primary);
          }
        }
      }

      &--disabled {
        cursor: default;
        color: $black-36;
        user-select: none;
      }

      &--group {
        &>.g-list--nested {
          padding-left: $size;
        }

        &>.g-list-item__content {
          padding-right: 0;
        }
      }
    }

    &--dense {
      & .g-list-item {
        &>.g-list-item__content {
          min-height: $size-dense;

          &>.g-list-item__holder {
            @include absolute-height($size-dense);
            @include absolute-width($size-dense);

            &>.g-list-item__icon {
              font-size: 18px;
            }
          }
        }

        &.g-list-item--group {
          &>.g-list--nested {
            padding-left: $size-dense;
          }
        }
      }
    }
  }
}