@mixin colors() {
  @each $name, $color in $colors {
    &--#{$name} {
      background-color: $color;
    }
  }
}

.g {
  &-avatar {
    @include colors;

    text-transform: uppercase;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    user-select: none;
    pointer-events: none;

    &--tile {
      border-radius: 0;
    }

    &__img {
      width: 100%;
    }

    &__text {
      @include default-text-style;

      color: var(--white);
      mix-blend-mode: difference;
    }
  }
}