@mixin colors() {
  @each $name, $color in $colors {
    &--#{$name} {
      &:not(.g-avatar--outline) {
        background-color: $color;
      }

      &.g-avatar--outline {
        border-color: $color;

        & > .g-avatar__text {
          color: var(--#{$name})
        }
      }
    }
  }
}

.g {
  &-avatar {
    @include colors;

    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    
    &--round {
      border-radius: 50%;
    }
    &--rounded {
      border-radius: 16px;
    }
    &--outline {
      border-style: solid;
      border-width: 1px;
    }

    &__img {
      width: 100%;
    }

    &__text {
      @include default-text-style;

      color: var(--white);
      mix-blend-mode: screen;
    }
  }
}