.g {
  &-select {
    @include input-base;
    @include input-style('g-select');

    &__label {
      cursor: pointer;
    }

    &__group {
      flex-wrap: wrap;
      cursor: pointer;
    }

    &__selection {
      position: relative;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex: 1;
      min-width: 0;
    }

    &__attach {
      display: flex;
      flex: 1;
    }

    &:hover:not(.g-select--disabled):not(.g-select--error) {
      & .g-select__border {
        border-bottom-color: $black-84;
      }
    }

    &--solo,
    &--outline,
    &--outline-label {
      &:not(.g-select--dense) {
        & .g-select__selection {
          min-height: 48px;
        }

        & .g-select__input {
          line-height: 48px;
        }
      }
    }

    &--multiple {
      & .g-select__group {
        cursor: default;
      }
    }

    &--clearable {
      &>.g-select__holder {
        grid-template-columns: 1fr 32px 32px;
      }
    }
  }
}
